*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    font-family: 'Poppins';
    color: #111111;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

img[src$=".jpg"]{
    border-radius: 4px;
}