body {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

.header-bg {
    background-color: #000000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}